* {
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  font-size: 8vmin;
  color: rgb(5, 55, 161);
  background-color: thistle;
}

#reset {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: saddlebrown;
  color: white;
  border-radius: 1rem;
  border-width: 5px;
  border-color: azure;
}

#new {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: rgb(9, 5, 1);
  color: white;
  border-radius: 1rem;
  border-width: 5px;
  border-color: azure;
}

#msg {
  color: rgb(239, 51, 167);
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
